@model Tuvasa.Areas.BoardGameGames.Models.Player

@{
    ViewData["Title"] = "Details";
}

<h1>Detale gracza</h1>

<div>
    <h4>Gracz</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlayerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayerName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditPlayer" asp-route-id="@Model.PlayerID">Możesz też go edytować...</a> |
    <a asp-action="Index">Powrót do listy planszówkowiczów</a>
</div>
